nav{
    background-color: gray;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 12px;
    
}
nav a{
    margin: auto;
    padding: 10px;
    text-decoration: none;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
}
nav a:hover{
    background-color: white;
    color: black;
}